<tr id="<%= dom_id( task ) %>">
  <td><%= task.title %></td>
  <td><%= task.due_date %></td>
  <td><%= (User.find task.user_id).first_name.capitalize %></td>
  <td>

    <% if task.status == true %>
      <%= link_to "DONE", change_toggle_path(task), method: :patch, remote: true %>
    <% else %>
      <%= link_to "NOT DONE", change_toggle_path(task), method: :patch, remote: true %>
    <% end %> 
    |
    <%= link_to "Delete Task", project_task_path(@project, task), 
        method: :delete, data: {confirm: "are you sure?"}, remote: true %> |
    <%= link_to "Edit Task", edit_project_task_path(@project, task) %>
  </td>
</tr>