
  <%= form_for @project do |p| %>
    <div class="field">
      <%= p.text_field :title, class:"form-control", placeholder: "Project Title"%>
    </div>
    <br>

    <div class="field">
    <%= p.label :category %><br>
    <%= p.collection_check_boxes :category_ids, Category.all, :id, :name, class:"form-control" %>
    </div>
    <br>

    <div class="field">
    <%= p.text_area :description, class:"form-control", placeholder: "Project Description" %>
    </div>
    <br>

    <div class="field">
    <%= p.label :due_date %>
    <%= p.date_field :due_date, class:"form-control" %>
    </div>
    <br>

    <%= p.label :members %><br>
    <%= p.collection_check_boxes :user_ids, User.all, :id, :first_name %>
    <br><br>

    <%= p.label :tags %><br>
    <%= p.collection_check_boxes :tag_ids, Tag.all, :id, :name, class:"form-control" %>
    <br>

    <%= p.submit %>
  <% end %>
