<div class="row">

  <div class="col-md-2"><h2> PROJECTS </h2></div>
  <div class="col-md-1"  style="margin-top: 32px;">
    <a id="add" ><span class="glyphicon glyphicon-plus"></span></a>
    <a id="minus"><span class="glyphicon glyphicon-minus"></span></a>
  </div>
  <div class="col-md-9" style="margin-top: 32px;">
    <a id="favorites">Favorites</a>
  </div>
<%= flash[:alert] %>
</div>
<table class="table table-striped" id="projectIndex">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Due Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |p| %>
    <tr>
      <td><%= link_to p.title, project_path(p)%></td>
      <td><%= p.categories.map(&:name).join(', ') %></td>
      <td><%= p.description %></td>
      <td><%= p.due_date %></td>
      <td>
        <% if p.user_id == current_user.id %>
          <%= link_to "EDIT", edit_project_path(p), class: "btn btn-default" %>
          <%= link_to "DELETE", project_path(p), 
                method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
        <% end %>
      </td>
    </tr>
    <% end %> 
  </tbody>

</table>

<table class="table table-striped" id="favoriteIndex" style="display:none;">
  <% @favorites.each do |f| %>
  <% project = Project.find f.project_id %> 
      <tr>
        <td><%= project.title %>
      </tr>
  <% end %>
</table>
<br>

<div class="newProject">
  <%= render 'new' %>
</div>

<%= will_paginate @projects %>

