<div class="well">
  <center>
    <h2><%= @project.title %></h2>
    <strong>Description:</strong>
    <p>&emsp;<%= @project.description %></p>
    <strong>Category:</strong>&emsp;<%= @project.categories.map(&:name).join(', ') %>
    <br>
    <strong>Due Date:</strong>&emsp;<%= @project.due_date %>
    <br>
    
    <% if @project.user_id.present? %>
      <strong>Created By:</strong> &emsp;<%= @user.first_name.capitalize %>
      <br>
    <% end %>

    <!-- 
      User can only edit and delete the projects they created
    -->
    <% if @project.members.present? %>
      <strong>Members: </strong>
        <%= User.find( @project.members.map(&:user_id) ).map(&:first_name).join(', ') %>
      <br>
    <% end %>

  <br>

  </center>

  <br>
  
  <%= render "tasks/index" %>
  <div class="well newTask" style="display:none;">
    <%= render "tasks/new" %>
  </div>
  
  <%= render 'discussions/index' %>
  <div class="well newDiscussion" style="display:none;">
    <%= render 'discussions/new' %>
  </div>

</div>
















