<!-- 
is there somewhere - halsey  
kings and queens - brooke fraser 
-->
<!DOCTYPE html>
<html>
<head>
  <title>PMTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <a href="/" class="btn btn-default" >The Home Page</a>
    
    <a href="/home/about/" class="btn btn-default" >The About Page</a>
    
    <a href="/tasks/" class="btn btn-default" >Tasks Index Page </a>
    
    <a href="/tasks/new" class="btn btn-default" >New tasks Page </a>
    <br>
    <a href="/projects/" class="btn btn-default">Project Index </a>
    <a href="/projects/new" class="btn btn-default"> New Project </a>

    
      <% form_tag projects_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    




    <br><br>
    <%= yield %>
  </div>

</body>
</html>
