<!-- 
is there somewhere - halsey  
kings and queens - brooke fraser 
-->
<!DOCTYPE html>
<html>
<head>
  <title>PMTool</title>
  <%# if user_signed_in? %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# else %>
    <%#= stylesheet_link_tag 'external', media: 'all' %>
  <%# end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <% if user_signed_in? %>
        <%= render 'layouts/menu' %>
    <% end %>
        <%= flash[:notice] || flash[:alert]%>
        <%= yield %>
  </div>
</body>
</html>
